/* MultistepFlow */
@import "theme";

// .MultistepFlow { }

.Header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: size(s);
}

.headerTitle {
  margin: 0;
}

