/* index.scss */
@import "theme";

// Bring in normalize.css from create-react-app
@import-normalize;

body {
  margin: 0;
  font-family: font-family(body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: font-family(code);
}
