/* Finished */
@import "theme";

.Finished {
  display: flex;
  flex-direction: column;
}

.DealSummary {
  margin: size(l) 0;
}

.Action {
  margin: 0 auto size(s);
  width: 30%;
  min-width: 250px;
  max-width: 350px;
}
